:root {
  --primary-color: #668ba4;
  --secondary-color: #729c81;
  --detail-color: #dde0ab;
  --secondary-shadow: 5px 5px 10px rgba(151, 203, 169, 0.4);
}
body {
  background: #f8f9fa;
  font-family: "Inconsolata", monospace;
}

h1 {
  color: var(--secondary-color);
  font-size: 50px;
}

h2 {
  font-size: 40px;
  font-weight: bolder;
  color: var(--secondary-color);
  text-shadow: var(--secondary-shadow);
  text-align: center;
  line-height: 72px;
}
h3 {
  color: var(--primary-color);
  font-weight: bold;
  margin-top: 20px;
}
h4 {
  font-size: 30px;
  font-weight: bolder;
  color: var(--secondary-color);
  text-shadow: var(--secondary-shadow);
  text-align: center;
}
h5 {
  text-align: center;
  color: var(--secondary-color);
  margin-bottom: 40px;
}

p {
  color: var(--primary-color);
  font-size: 20px;
  text-align: left;
  margin-top: 20px;
  margin-bottom: 40px;
}
footer {
  margin-top: 80px;
}
.logo {
  max-width: 60px;
}
.navbar {
  height: 60px;
}
.nav-link {
  color: var(--primary-color);
  font-weight: bold;
  margin: 0px 10px;
}

.nav-link:hover {
  color: var(--secondary-color);
}
.hero {
  background-color: #8baeb47a;
  text-align: left;
  padding: 100px 100px;
}
.hero h1 {
  font-family: "Lobster", cursive;
  font-size: 96px;
}
.hero h2 {
  text-align: left;
  color: var(--primary-color);
}
.space-title {
  margin-top: 5pc;
}
.font::before {
  content: " ";
  animation: animate infinite 7s;
}

@keyframes animate {
  0% {
    content: "an artist 🎨";
  }
  20% {
    content: "a world traveler 🌏";
  }
  40% {
    content: "a sustainability advocate 🌱";
  }
  60% {
    content: "a jiu-jitsu practicioner 🥋";
  }
  80% {
    content: "an educator 🍎";
  }
  100% {
    content: "a go getter 🏆";
  }
}
.she-codes,
.email {
  text-decoration: none;
  color: var(--secondary-color);
  font-weight: bold;
}
.active {
  color: var(--secondary-color) !important;
}
.project {
  margin-top: 8pc;
}

.primary-link {
  display: inline-block;
  border-radius: 15px;
  padding: 15px 20px;
  font-size: 20px;
  text-decoration: none;
  text-transform: capitalize;
  background: var(--primary-color);
  color: #feffdf;
}
.primary-link:hover {
  color: #feffdf;
  background: #668ba4ad;
}

.my-photo {
  max-width: 85%;
  border: 2px solid #dfd3c3;
  margin: 1rem;
  padding: 0.5rem;
}

.cool-underline::after {
  content: "";
  display: block;
  margin: 0 auto;
  width: 50px;
  height: 4px;
  background-color: var(--primary-color);
}
.card {
  background: #dde0abab;
}

.btn-outline-dark {
  --bs-btn-font-weight: 600;
  --bs-btn-color: var(--primary-color);
  --bs-btn-border-color: var(--primary-color);
  --bs-btn-hover-color: var(--detail-color);
  --bs-btn-hover-bg: var(--primary-color);
  --bs-btn-hover-border-color: var(--primary-color);
}
.social {
  margin: 10px;
  font-size: 35px;
  color: var(--secondary-color);
}
.social:hover {
  color: #729c81b6;
}
.conect {
  margin: 10px;
  font-size: 35px;
  color: var(--primary-color);
}
.conect:hover {
  color: #729c81b6;
}
.tools h4 {
  text-align: center;
}
.form-control {
  color: var(--primary-color);
  font-size: 20px;
}
label {
  color: var(--primary-color);
  font-weight: bold;
  text-align: center;
  display: block;
}

@media (max-width: 500px) {
  h1 {
    font-size: 40px;
    margin-top: 10px;
  }
  h3 {
    font-size: 20px;
    font-weight: bolder;
  }
  .about-row {
    flex-direction: column-reverse;
  }
}
@media (max-width: 768px) {
  h5 {
    font-size: 10px;
  }
  .odd-row {
    flex-direction: column-reverse;
  }
  .card-description {
    display: none;
  }
  .card-text {
    text-align: center;
  }
  .btn-outline-dark {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
  }
}
